body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.calculator {
  width: 400px;
  height: 400px;
  background-color: blueviolet;
  padding: 30px;
  margin: 30px auto;
  border: 2px solid gray;
  border-radius: 10px;
}

#result {
  background-color: white;
  color: black;
  height: 50px;
  width: 100%;
  margin: 0 auto 30px;
  font-size: 40px;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: right;
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 70%;
  margin: 50px auto 0;
}

.table .row {
  display: table-row;
}

.table .cell {
  display: table-cell;
  width: 25%;
  height: 20%;
  text-align: center;
  vertical-align: middle;
}

button {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: gray;
  color: white;
  font-size: 25px;
}
